body{
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
div
{
	margin: 0;
	padding: 0;
}	
.row
{
	margin: 0;
}

/*Start of header style*/

.header
{
	width:100%;
}
.header .upper .first
{
    color: white;
}
.header .upper
{
    width: 100%;
    height: 25px;
    background-color:#78abc8;
}
.header .upper .user
{
    width: 100%;
    float:left;
    margin-top: 5px;
    margin-left: 60px;
}
.header .upper .first 
{
    margin-top: 5px;
}
.header .upper .first li
{
    list-style: none;
    float: left;
    padding-right: 7px;
    font-family: Segoe UI;
    font-size: 8.35pt;
}
.header .upper .user li
{
    list-style: none;
}
.header .upper .user .dropdown
{
    list-style: none;
    float: left;
    padding-right: 5px;
}
.header .upper .user .dropdown-menu {
   min-width: 100px;
    padding: 2px 0;
    margin: 0px 0 0;
    margin-left: -35px;
    font-size: 12px;
    text-align: center;
    list-style: none;
    background-color: #f7f7ff;
}
.header .upper .user .dropdown-menu li a
{
    padding: 2px 0;
}
.header .upper .user .dropdown-menu .divider
{
    margin: 2px 0;
}
.header .upper .user .glyphicon-user
 {
    color: white;
    margin-left: 30px;
}
.header .upper .user .caret{  
    color: white;
}
.header .upper .user .fa-shopping-cart
{
    border-left: 1px solid white;
    color: white;
    padding-left: 5px;
}
.header .top .logo img {
    border: 0;
    margin-top: 20px;
    margin-left: -28px;
}
#imaginary_container{
    margin-top:18px; 
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.stylish-input-group .input-group-addon {
    background: #18729e !important;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header .catmenu .category {
    width: 100%;
}
.header .catmenu .category .dropdown
{
    list-style: none;
}
.header .catmenu .category .dropdown a
{
    float: left;
}
.header .catmenu .category .dropdown .cat-drop
{
    color: black;
    text-decoration: none;
    margin-top: -24px;
    margin-left: 45px;
}
.header .catmenu .category .dropdown-toggle:hover
{
    text-decoration: none;
    opacity: 0.7;
}
.header .catmenu .category .fa-bars
{   
    color: black;
    font-size: 24px;
}
/*Start of categories style*/
.categories
{
    font-size: 12px;
    background-color: #f7f7ff;
}
.dropdown-menu 
{
    float: left;
    min-width: 160px;
    margin: 16% -12px;   
    padding:0;
}

.categories .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: white;
    background-color: #337ab7;
    width: 100%;
}
.categories .nav>li>a {
    position: relative;
    display: block;
    padding: 12px 15px;
    color: black;
    font-family: Gill Sans MT;
    border-radius: 0;
}
/*end of categories style*/

.header .catmenu .menu {
    width: 100%;
}
.header .catmenu .menu .navbar-nav
{
    margin-left: -6%;
}
.header .catmenu .menu .navbar-nav li 
{
    float: left;
    margin-right: 55px;
    margin-top: -15px;
}
.header .catmenu .menu .navbar-nav li a
{
	color: #494848;
    font-family: Bell Gothic Std;
	font-weight: 700;
	 border-bottom: 3px solid transparent;
}

.header .catmenu .menu .nav>li>a:hover, nav>li>a:focus 
{
    text-decoration: none;
    background-color: transparent;
    border-bottom: 3px solid #f07843;
}
.header .catmenu .menu .nav>li>a:active, .nav>li>a:focus 
{
	background-color: transparent;
}
.header .catmenu .menu .container {
    margin-right: auto;
    margin-left: auto;
}

/*End of header style*/
/*Start of picslide style*/

.picslide img {
    width: 100%;
}

.picslide .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #397a9b;
}

.picslide .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #397a9b;
    border-radius: 10px;
}

/*End of picslide style*/
/*Start of content style*/

.content
{
	margin: 0;
    padding: 0;
}

.content .service #servicewidth
{
	width: 100%;
	padding-bottom: 2%;
}
.content .service .col-sm-12 #servicebg ul {
    margin-top: 8%;
    margin-left: 12%;
}
.content .service .col-sm-12 #servicebg ul li
{
    list-style: none;
    float: left;
}
.content .service .col-sm-12 #servicebg ul li img
{
    height: 75px;
    margin-top: 3%;
     color: #397a9b;
}
.content .service .col-sm-12 #servicebg ul li h5
{
    color: #425364;
    padding-left: 8px;
    margin-top: 33px;
}
.content .featured .title1
{
    width:220px;
    height:30px;
    border:1px;
    background:#ee6c31;
}
.content .featured .title1 h4
{
       color: white;
    margin-left: 50px;
    margin-top: -25px;
}
.content .featured .title1 img
{
    height: 36px;
    margin-top: -3px;
}
.content .featured .f-products .col-sm-12
{
    width: 100%;
    background-color: #f7f6f6;
    padding-bottom: 4%;
}
.content .featured .f-products .row .prod-img
{
    width: 90%;
    margin-top: 10px;
     opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.content .featured .f-products .row .prod-img img
{
    margin-left: 22%;
    margin-top: 11%;
}

.content .featured .f-products .row .prod-img .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.content .featured .f-products .row .prod-img:hover img{
  opacity: 0.3;
}

.content .featured .f-products .row .prod-img:hover .middle {
  opacity: 1;
}

.content .featured .f-products .row .prod-img .middle h5 {
      background-color: #397a9a;
    color: white;
    font-size: 13px;
    padding: 13px 45px;
    margin-left: -48px;
}


.content .featured .f-products #secondcol
{
    margin-top: -25px;
}
.content .featured .f-products .row .prod-img p
{
    margin: 15% 33% 10px;
    font-family: Source Sans Pro;
}
.content .featured .f-products hr 
{
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #d2d1d1;
}
.content .featured .f-products .vr
 {
  display: block;
    width:1px;
    background-color:#d2d1d1;
    position:absolute;
    top: 5%;
    bottom: -25px;
    left:96%;
}
.content .support
{
    margin-top: 6%;
}
.content .support .title2
{
    width:220px;
    height:30px;
    border:1px;
    background:#ee6c31;
    margin-top: -20px;
}
.content .support .title2 h4
{
    color: white;
    margin-left: 22%;
    margin-top: -20px;
}
.content .support .title2 img
{
    height: 25px;
    margin-top: 2px;
    margin-left: 5px;
}
.content .support .sup .col-sm-12
{
    width: 100%;
    background-color: #f7f6f6;
    padding-bottom: 6%;
}
.content .support .sup .box {
    width: 282px;
    height: 275px;
    border-radius: 5%;
    margin-top: 40px;
    margin-left: 25px;
    border: 1px;
    background: #257aa3;
}
.content .support .sup .box img
{
    height: 90px;
    margin: 30px 34%;
}
.content .support .sup .box h5
{
    text-align: center;
    color: white;
}
.content .support .sup .box p 
{
    color: white;
    margin-top: 25px;
    text-align: center;
}
.content .support .sup .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #397a9b;
}

.content .support .sup .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #397a9b;
    border-radius: 10px;
}

/*End of content style*/
/*Start of footer style*/

.footer
{
    background-color: #5f92ab;
}
.footer .row .col-sm-12 #left h4
{
    color: white;
    font-family: arial;
    margin-top: 8%;
}
.footer .row .col-sm-12 #left p
{
    font-family: Gill Sans MT;
    color: white;
}
.footer .row .col-sm-12 #left hr 
{
    border: 0;
    margin-left: 0px;
    margin-right: 75%;
    border-top: 1px solid white;
    margin-top: -6px;
    margin-bottom: 10px;
}
.footer .row .col-sm-12 #right h4
{
    color: white;
    font-family: arial;
    margin-top: 23%;
    margin-left: -30px;
}
.footer .row .col-sm-12 #right ul li
{
    list-style: none;
    color: white;
    font-family: Gill Sans MT;
    font-size: 14px;
    margin-left: -68px;
}
.footer .row .col-sm-12 #right ul .opp
{
    font-size: 11px;
}
.footer .row .col-sm-12 #right hr 
{
    border: 0;
    margin-left: -20%;
    margin-right: 25%;
    border-top: 1px solid white;
    margin-top: -6px;
    margin-bottom: 10px;
}

.footer .menu .navbar-collapse {
    margin-left: 20%;
}
.footer .menu .navbar-nav li 
{
    float: left;
    margin-left: -20px;
    margin-top: -10px;
    padding-right: 53px;
}
.footer .menu .navbar-nav li a
{
    color: white;
    font-family: Bell Gothic Std;
    font-size: smaller;
    opacity: 0.8;
}
.footer .menu .nav>li>a:hover, nav>li>a:focus 
{
    text-decoration: none;
    background-color: transparent;
    color: white;
    opacity: 1;
}
.footer .menu .nav>li>a:active, .nav>li>a:focus 
{
    background-color: transparent;
}
.footer .menu{
    margin-right: auto;
    margin-left: 6%;
    margin-top: 3%;
}
.footer .row hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    margin-left: 30%;
    margin-right: 30%;
    border-top: 1px solid #eee;
}
.footer h6
{
    color: white;
    text-align: center;
    opacity: 0.8;
}
.footer .row .col-sm-12 #right .fa {
      padding: 5px;
    margin-left: 10px;
    font-size: 13px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: white;
    color: black;
}

.footer .row .col-sm-12 #right .fa-facebook:hover
{
    background: #3b5998;
    color:white;
}
.footer .row .col-sm-12 #right .fa-google-plus:hover
{
    background: #dd4b39;
    color:white;
}
.footer .row .col-sm-12 #right .fa-twitter:hover
{
    background: #26a6d1;
    color:white;
}

/*End of footer style*/

/*Start of services page style*/
    .services-content .col-sm-12 #bg
    {
        width: 100%;
        background-color: #f7f6f6;
    }
    .services-content .col-sm-12 #bg img
    {
        height: 200px;
    }
    .services-content .col-sm-12 #bg .heading
    {
        font-family: Lucida fax;
    }
     .services-content .col-sm-12 #bg p
     {
        font-family: Bell MT;
        font-size: 17px;
     }
 /*end of services page style*/
 /*Start of about us page style*/

.about-us .info .abt
{
    width: 100%;
    height: 35px;
    margin-top: -7px;
    border: 1px;
    background: #ee6c31;
}
.about-us .info .abt h4
{
    color: white;
    margin-top: 10px;
    padding-top: 8px;
    text-align: center;
}
.about-us .info .company-profile
{
    width: 100%;
    background-color: #f7f6f6;
    padding-bottom: 2%;
}
.about-us .info .company-profile img
{
    height: 200px;
    width: 98%;
    margin-left: 1%;
}
.about-us .info .company-profile p
{
    font-family: Source Sans Pro;
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.about-us .team .teamtitle
{
    width: 100%;
    margin-top: 3%;
    height: 35px;
    border: 1px;
    background: #ee6c31;
}
.about-us .team .teamtitle h4
{
    color: white;
    margin-top: 10px;
    padding-top: 8px;
    text-align: center;
}
.about-us .team #team-members 
{
    width: 100%;
    background-color: #f7f6f6;
}
.about-us .team #team-members img
{
    border-radius: 50%;
    height: 160px;
    margin-left: 45%;
    margin-top: 12px;
}
.about-us .team #team-members .team-info
{
    width: 100%;
    font-size: 12px;
    font-family: Bell Mt;
    margin-top: 68%;
    margin-left: 145%;
}
.about-us .team #team-members .vr
 {
    display: block;
    width: 1px;
    background-color: #d2d1d1;
    opacity: 0.5;
    position: absolute;
    top: 2%;
    bottom: 5px;
    left: 50%;
}
blockquote
{
    margin-left: 30px;
}
/*End of about us page style*/
/*Start of Products page*/
.all-products .prod-title
{
    width: 100%;
    height: 35px;
    margin-top: -7px;
    border: 1px;
    background: #ee6c31;
}
.all-products .prod-title h4
{
    color: white;
    margin-top: 10px;
    padding-top: 8px;
    text-align: center;
}
.all-products #bgprod
{
    background-color: #f7f6f6;
}
.all-products .col-sm-12 .product-contents
{
    width: 100%;
    float: left;
}

.all-products .col-sm-12 .product-contents .col-sm-4 .product-img
{
    width: 90%;
    margin-top: 10px;
     opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.all-products .col-sm-12 .product-contents .col-sm-4 .product-img img
{
    margin-left: 22%;
    margin-top: 11%;
    height: 175px;
}
.all-products .col-sm-12 .product-contents .col-sm-4 .product-img p
{
    margin: 15% 33% 10px;
    font-family: Source Sans Pro;
}
.all-products .col-sm-12 .product-contents .col-sm-4 .product-img .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.all-products .col-sm-12 .product-contents .col-sm-4 .product-img:hover img{
  opacity: 0.3;
}

.all-products .col-sm-12 .product-contents .col-sm-4 .product-img:hover .middle {
  opacity: 1;
}

.all-products .col-sm-12 .product-contents .col-sm-4 .product-img .middle h5 {
      background-color: #397a9a;
    color: white;
    font-size: 13px;
    padding: 13px 45px;
    margin-left: -48px;
}
.all-products .col-sm-12 .product-contents hr 
{
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #d2d1d1;
}
.all-products .col-sm-12 .product-contents .vr
 {
  display: block;
    width:1px;
    background-color:#d2d1d1;
    position:absolute;
    top: 5%;
    bottom: -25px;
    left:96%;
}

.all-products .col-sm-12 .product-contents .pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background: transparent;
    border: none;
}
.all-products .col-sm-12 .product-contents .pager li a
{
    text-decoration: none;
    color: #78abc8;
}
.all-products .col-sm-12 .product-contents #pageno
{
    float: left;
    width: 100%;
}
.all-products .col-sm-12 .product-contents #pageno .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 10%;
    border-radius: 4px;
}
/*End of products Page*/
/*Start of Contact Page*/
.contact-page .con-title
{
    width: 100%;
    height: 35px;
    margin-top: -7px;
    border: 1px;
    background: #ee6c31;
}
.contact-page .con-title h4
{
    color: white;
    margin-top: 10px;
    padding-top: 8px;
    text-align: center;
}
.contact-page .contact-info
{
    width: 100%;
    background-color: #f7f6f6;
}
.contact-page .contact-info .map
{
    width: 100%;
}
.contact-page .contact-info .map iframe
{
   border: 0;
    margin-left: 16px; 
}
.contact-page .contact-info .contact-form 
{
    padding-bottom:30px; 
    padding-top:10px;
}
.contact-page .contact-info .contact-form h2
{
   color: #ee6c31; 
}

/* Style inputs with type="text", select elements and textareas */
.contact-page .contact-info .contact-form input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 15px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
.contact-page .contact-info .contact-form input[type=submit] {
    background-color: #257aa3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
.contact-page .contact-info .contact-form input[type=submit]:hover {
    background-color: #5f92ab;
}

.contact-page .contact-info .col-sm-12 .contact-details
{
    background-color: white;
    width: 55%;
    margin-top: 7%;
    margin-left: 25%;
}

.contact-page .contact-info .col-sm-12 .contact-details hr
{
    margin-right: 15%;
    border: 0;
    margin-top: -5px;
    margin-bottom: 15px;
    border-top: 2px solid #eee;
}
.contact-page .contact-info .col-sm-12 .contact-details ul
{
    padding-top: 8px;
}
.contact-page .contact-info .col-sm-12 .contact-details ul li
{
    list-style: none;
    padding-bottom: 15px;
    font-family: Gill Sans MT;
}
.contact-page .contact-info .col-sm-12 .contact-details ul .opp
{
    font-size: 11px;
}
.contact-page .contact-info .col-sm-12 .contact-details ul li span
{
    font-size: 18px;
    font-family: Gill Sans MT;
}
.contact-page .contact-info .col-sm-12 .contact-details .fa
{
    padding-right: 8px;
}
    
/*End of Contact Page*/

/*Home page Responsiveness*/
@media screen and (max-width: 1024px) {
    .slider .categories{
    min-width: 200px;
    margin-top: -335px;
    margin-left: 3px;
    }
}
@media screen and (max-width: 1024px) {
.header .catmenu .menu .navbar-nav li 
    {
    margin-right: 12px;
    }
}
@media screen and (max-width: 1024px) {
.content .service ul li h4 {
    margin-left: 25px;
    }
}
@media screen and (max-width: 1024px) {
.content .service ul li img {
    margin-left: 36px;
    }
}
@media screen and (max-width: 1024px) {
.content .support .sup .box {
    width: 250px;
    margin-left: 8px;
    }
}
@media screen and (max-width: 1024px) {
.footer .menu {
    margin-right: auto;
    margin-left: -3%;
    }
}